@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-primary: #CCFF00;
  --color-secondary: #80F0FF;
  --color-tertiary: #FF5E00;
  --color-dark-bg: #0E0E0E;
}
html {
  scroll-behavior: smooth;
}